*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

.app{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  text-align: center;
  background-color: black;
}

/* .container{
  display: flex;
  flex-direction: row-reverse;
  gap: 50px;
} */

.rowOne{
  display: flex;
}

.rowOne button{
  border: 1px solid White;
  width: 100px;
  height: 100px;
  background-color: transparent;
  font-weight: 900;
  font-size: 18px;
}

.status{
  
  color: white;
  margin-top:20px ;
  margin-bottom: 20px;
  
}